In [ ]:
def max(*args):
    if a > b:
        return a
    else:
        return b

In [ ]:
a = int(input("정수를 입력하세요."))
print("초기 최대값: %d" %max())

In [ ]:
정수를 입력하세요:19
초기 최대값=19
정수를 입력하세요:96
바뀐 최대값=96
정수를 입력하세요:12
정수를 입력하세요:10
정수를 입력하세요:0
최대값=96

In [ ]:
class Queue:
    def __init__(self, *args): # 빈 리스트 생성
        self.lst = []
    def isEmpty(self): # TRUE / FALSE 반환
        if len(self.lst) == 0:
            return True
        else:
            return False
    def addQueue(self, lst): # 리스트 추가
        self.lst.append(lst)
        return self.lst
    def delQueue(self): # 리스트 삭제
        self.lst.pop()
        return self.lst

que = Queue()
    
while(1):
    a = int(input("1 = 리스트 추가 , 2 = 리스트 삭제, 3 = EXIT"))
    if a == 1:
        code = str(input("what ?"))
        
        print(que.addQueue(code))
    if a == 2:
        print(que.delQueue())
    if a == 3:
        print("프로그램 종료")
        break

In [ ]:
age = input("나이를 입력해주세요.")
print(20-int(age),"년 후면 20살이네요")

age = int(input("나이를 입력해주세요."))
print(20-age,"년 후면 20살이시네요")

In [ ]:
num=input("영화 관람 인원을 입력해주세요:")
print("예매하실 인원은",num, "명 입니다.")

In [ ]:
number = int(input('어디까지 누적합을 구할까요? '))
menu = input('홀수 누적은 1 / 짝수의 누적은 2를 누르시오. ')
odd = 0

if menu == '1':
    print(number,'까지 홀수의 누적합')
    for num in range(number):
        if num % 2 == 1:
            odd += num
            print('누적합: ',odd)
    
if menu == '2':
    print(number,'까지 짝수의 누적합')
    for num in range(1, number):
        if num % 2 == 0:
            odd += num
            print('누적합: ',odd)

In [ ]:
import numpy as np

In [ ]:
score = []
with open('scores.txt') as data:
    score = data.readlines()
#     scores = data.readlines()
#     for text in scores:
#         text = text.strip('\n')
#         test = text.split(' ')
#         score.append(text)

In [ ]:
score

In [ ]:
score

In [ ]:
data_list

In [ ]:
score

In [ ]:
for step in score:
    score.append(step.split(' '))

In [ ]:
score

In [ ]:
scores = np.loadtxt('scores.txt')
scores_int = scores.astype(int)
score = scores_int.mean(axis = 1)

ph = '체육: {0:.1f}\n'.format(score[0])
ch = '한자: {0:.1f}\n'.format(score[1])
so = '사회: {0:.1f}\n'.format(score[2])

with open('average.txt', 'w') as f:
    f.write('과목별 평균\n')
    f.write(ph)
    f.write(ch)
    f.write(so)

In [ ]:
score = score.mean(axis = 1)
score

In [ ]:
score[0]

In [ ]:
ph = '체육: {0:.1f}\n'.format(score[0])
ch = '한자: {0:.1f}\n'.format(score[1])
so = '사회: {0:.1f}\n'.format(score[2])

In [ ]:
ph

In [ ]:
with open('average.txt', 'w') as f:
    f.write('과목별 평균\n')
    f.write(ph)
    f.write(ch)
    f.write(so)

In [ ]:
num = np.array([1, 2, 3, 4, 5, 6, 7, 8, 9])
num.reshape(-1, 1)

In [ ]:
number = 5000
number -= number * 0.05
number

In [ ]:
# -0원 이상 -50000원 미만: 5%, 50000 이상 -300000원 미만 : 7.5%, 300000원 이상: 10%
def sale(price):
    if (price > 0) & (price < 50000):
        rate = 0.05
        sale_price = price * rate
        result = price - sale_price
        return rate * 100, sale_price, result
    elif (price > 50000) & (price < 300000):
        rate = 0.075
        sale_price = price * rate
        result = price - sale_price
        return rate * 100, sale_price, result
    elif price > 300000:
        sale_price = price * rate
        result = price - sale_price
        return rate * 100, sale_price, result

In [ ]:
sale(4000)[0]

In [ ]:
상품 가격을 입력하세요: 75000
상품 구매가 : 75000
할인율 : 7.5%
할인 금액: 5625
할인 적용 금액: 69375

In [ ]:
def sale(price):
    if (price > 0) & (price < 50000):
        rate = 0.05
        sale_price = price * rate
        result = price - sale_price
        return rate * 100, sale_price, result
    elif (price > 50000) & (price < 300000):
        rate = 0.075
        sale_price = price * rate
        result = price - sale_price
        return rate * 100, sale_price, result
    elif price > 300000:
        sale_price = price * rate
        result = price - sale_price
        return rate * 100, sale_price, result

price = int(input('상품 가격을 입력하세요: '))
print('상품 구매가: ', price)
print('할인율: {0:.1f}%'.format(sale(price)[0]))
print('할인 금액: ', sale(price)[1])
print('할인 적용 금액: ', sale(price)[2])

In [ ]:
1. 당해년도 영업 실적에 따라 차년도 연봉이 인상된다.
2. 영업 실적이 1억 원 이상일 경우 10% 인상
3. 영업 실적이 5천만 원 이상일 경우 5% 인상
4. 그 외에는 연봉이 인상되지 않는다.
[입력 예시1]
50 -> 초봉 (5천만원 입력)
3 -> 햇수 (3년)
120 -> 영업 실적 (1년차: 1억 2천만원 입력)
80 -> 영업 실적 (2년차: 8천만원 입력)
45 -> 영업 실적 (3년차: 4천 5백만원 입력)

In [ ]:
minje = int(input('초봉을 입력하세요. (백만원 단위)'))
years = int(input('햇수를 입력하세요. '))

for year in range(years):
    perf = int(input('영업 실적을 입력하세요. (백만원 단위)'))
    if perf > 100:
        minje += minje * 0.1
    elif perf > 50:
        minje += minje * 0.05
    else:
        pass
print("Number of germs: ", minje*1000000)

In [ ]:
def calc(b, a, c):
    if a == '+':
        result = b + c
    if a == '-':
        result = b - c
    if a == '*':
        result = b * c
    if a == '/':
        result = b / c
    return result

a = int(input("Operand1 = "))
b = input("Operator = ")
c = int(input("Operand2 = "))

result = calc(a, b, c)
print(a, b, c ,'=', result)

In [22]:
garo = 1


list2 = []
for i in range(0, 3):
    list1 = []
    for j in range(0, 5):
        list1.append(garo)
        garo+=1
    list2.append(list1)
    print(i+1, "번째 행: ", list2[i],end = ' ')
    print(sep = '\n')
for i in range(0,3):
    print(i+1, "번째 행: ", sum(list2[i]),end = ' ')
    print(sep = '\n')

1 번째 행:  [1, 2, 3, 4, 5]
2 번째 행:  [6, 7, 8, 9, 10]
3 번째 행:  [11, 12, 13, 14, 15]
1 번째 행:  15
2 번째 행:  40
3 번째 행:  65

In [27]:
lambda x: list2[2][::]
list2[2][::]

[11, 12, 13, 14, 15]

In [35]:
st = ['qwe', 'asd', 'zxc']
st

['qwe', 'asd', 'zxc']

In [48]:
's' in st[1]

True

In [50]:
import numpy as np

In [61]:
np.where('x' in st[0])

(array([], dtype=int64),)

In [3]:
s = 1
for i in range(20):
    s += i
    s
s

191

In [20]:
number = list(map(int, input().split(',')))
min(number)

5,2,7

2

In [22]:
name = input('이름: ')
print(name, "반갑습니다.\n")
age = int(input('나이: '))
val = age - 60
print(abs(val),"년 후면 환갑입니다.")

이름: 정승기
정승기 반갑습니다.

나이: 26
34 년 후면 환갑입니다.